<main>
  <% @lists.each do |list| %>
  <p>
    <%= link_to list.name, "/lists/#{list.name}" %>
  </p>
  <% end %>

  <%= form_for @list, url: "/lists" do |f| %>
  <%= f.label "New list name:" %>
    <%= f.text_field :name %>
    <%= f.submit "Add" %>
  <% end %>

  <%= form_for @item, url: "/search?q=#{:name}", method: :get do |f| %>
    <%= f.label "Search items" %>
    <%= f.text_field :name %>
    <%= f.submit "Search" %>

  <% end %>

  <%= link_to "I just want to focus on one thing", "/next" %>

</main>
